/* TEAM SECTION */
#team {
   padding: 20px 10%;
  color: #2a2222;
  font-family: 'Segoe UI', sans-serif;
   background-color: #ececee;
}
.team-section{
    display: flex;
    flex-direction: column;
   
    top: 1px;
    bottom: 0px;
   

}
/* HERO SECTION */
.hero-content {
 
  text-align: center;
   margin-top: 1px;
   margin-bottom: 0px;
}

.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  color: #222;
}

.hero-content p {
  color: #666;
  margin-bottom: 50px;
  font-size: 1.1rem;
}

.team-container {
 
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

/* LEFT SIDE */
.team-left {
  flex: 1;
  min-width: 320px;
}

.team-left h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 40px;
}

/* FEATURED CARD */
.featured-card {
  background: white;
  color: #111;
  padding: 30px;
  border-radius: 14px;
  width: 280px;
  position: relative;
}

.featured-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.featured-card h3 {
  margin-bottom: 5px;
}

.featured-card p {
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.nav-buttons span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #111;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-buttons span:hover {
  background: #111;
  color: #fff;
}

/* RIGHT SIDE */
.team-right {
  flex: 2;
  min-width: 320px;
}

.team-description {
  max-width: 550px;
  color: #aaa;
  margin-bottom: 40px;
  line-height: 1.6;
  padding: 30px;
}

/* AVATAR ROW */
.avatar-row {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.avatar-row img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}

.avatar-row img:hover {
  transform: scale(1.1);
}

/* INFO BAR */
.info-bar {
  background: white;
  color: #111;
  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
  border-radius: 12px;
  flex-wrap: wrap;
  gap: 20px;
}

.info-bar small {
  font-size: 0.8rem;
  color: #333;
}

.info-bar h4 {
  margin-top: 5px;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .team-container {
    flex-direction: column;
  }

  .info-bar {
    flex-direction: column;
  }
}